<div>
  <%= link_to("Sign Out", session_path, { :method => :delete, :id => 'signout' }) %> |
  <%= link_to("Albums", facebook_albums_path) %>
</div>
<div>
  <ol>
    <% @friends.each do |friend| %>
      <li><%= friend.name %> (<%= friend.id %>)</li>
    <% end %>
  <ol>
</div>
