<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Awesome Facebook application</title>
    <%= javascript_include_tag 'jquery-1.3.2', 'fb' %>
  </head>

  <body>

  <div id="fb-root"></div>
  <script language="JavaScript" type="text/javascript">
    window.fbAsyncInit = function () {
      FB.init({
        appId: '131914773522760',
        cookie: true,
        status: true,
        xfbml: true
      });
  };
  (function () {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
   }());
  </script>
  <%= yield %>
  </body>
</html>
